:root {
    /* MODO CLARO (DEFAULT) */
    --bg-color: #fdfdfd; 
    --text-color: #222222;  
    --accent-color: #0c9196;   
    --card-bg-color: #ffffffcc; 
    --border-color: #eaeaea;

    --font-family: 'Lexend', 'Segoe UI', 'Roboto', sans-serif; /* Lexend es excelente para la dislexia */
    --line-height: 1.7; /* Espaciado generoso entre líneas */
}
body.dark-mode {
    --bg-color: #121212;
    --text-color: #eaeaea;
    --accent-color: #13a7ac;
    --card-bg-color: #1c1c1e;
    --border-color: #38383a;
}